.navbar-brand {
  position: fixed;
  top: 0%;
  color: #e2e2e2;
}
.navbar-all {
  position: fixed;
  top: 0%;
  left: 1010px;
  color: bisque;
}

.nav-link:hover {
  color: #dfe217 !important;
}

.navbar-toggler-icon {
  background-color: rgb(226, 223, 16);
}

.nav-item.dropdown .dropdown-menu {
  background-color: rgba(245, 238, 238, 0.8);
  border: none;
}

.nav-item.dropdown .dropdown-item:hover {
  background-color: #e2e2e2;
}

.dropdown-item {
  font-size: 1rem;
  top: 0;
}
